.x-trend-img{
    width: 100%;
    border-radius: 20%;
}

.x-list{
    border: 1px solid #09283b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.x-trend-title{
    display: inline;
    font-size: 9px;
    color: rgb(113, 113, 113);
}

.x-form-label{
    color: white;
    font-size: 11px;
}