.x-new-post-avatar{
    width: 40px;
    height: 40px;
    border-radius: 40px;

}

.x-new-post-comment{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    resize: none;
}

.x-new-post-btn-send{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: #1da1f2;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

.x-new-post-btn-send:hover{
    background-color: #0697f1;
}

.x-new-post-bottom-line{
    margin: 7px;
    height: 1px;
    color: #b2d5eb;
    width: 96%;
}