body{
    background-color: #02131e;
}
.x-rigth-section{
        border: 1px solid rgb(78, 77, 77);
        border-radius: 15px;
        width: 70%;
        margin-left: 1%;
        margin-top: 15px;
        min-height: 250px;
}
